<template>
    <div id="sample04">
        <v-ons-page>
            <p class="title">Sample04</p>
        </v-ons-page>
    </div>
</template>

<style lang="scss">
    p.title{
        font-size: 3rem;
    }
</style>
