<template>
    <div id="sample03">
        <v-ons-page>
            <p class="title">Sample03</p>
        </v-ons-page>
    </div>
</template>

<style lang="scss">
    p.title{
        font-size: 3rem;
    }
</style>
