<template>
  <div id="app">
    <v-ons-page>
      <!-- <v-ons-toolbar></v-ons-toolbar> -->
      <v-ons-tabbar swipeable position="auto"
      :index.sync="activeIndex">
        <router-view slot="pages"></router-view>
        <v-ons-tab v-for="tab in tabs" :key="tab.name"
                   :label="tab.label"
                   :icon="tab.icon"
                   :active="$route.name === tab.name"
                   @click.prevent="$router.push({name:tab.name})"
        ></v-ons-tab>
      </v-ons-tabbar>
    </v-ons-page>
  </div>
</template>

<script>
  export default {
      data() {
        return {
            activeIndex: 0,
            tabs: [
                {
                    name: 'sample01',
                    icon: 'ion-person',
                    label: 'friend',
                },
                {
                    name: 'sample02',
                    icon: 'ion-chatboxes',
                    label: 'talk',
                },
                {
                    name: 'sample03',
                    icon: 'ion-clock',
                    label: 'timeline',
                },
                {
                    name: 'sample04',
                    icon: 'ion-settings',
                    label: 'settings',
                },
            ],
        };
      },
  };
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
